

<div id="main-col" class="alignleft">
        <div id="wrapper" >
                <%- partial('_partial/article', {item: page, index: false}) %>
                <%- partial('_partial/post/prev_next') %>
                <%- partial('_partial/comment') %>
        </div>
</div>
<aside id="sidebar" class="alignright">
    <%- partial('_partial/post-sidebar') %>
</aside>